{% extends "main/layout.html" %}


{% block title %}
{{task.title}}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/neat.min.css">
{% endblock %}

{% block content %}
    <h1> {{task.title}} </h1>
    <p>{{task.description}}</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">N</th>
            <th scope="col">Входные данные</th>
            <th scope="col">Выходные данные</th>
          </tr>
        </thead>
        <tbody>
            {% for test in tests %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{test.input_data}}</td>
                    <td>{{test.expected_output}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

    <form method='post' class='my-flex-form'>
      {% csrf_token %}
      {% comment %} <label> {% endcomment %}
        {% comment %} <select name="language">
          {% for language_form in languages_form %}
            <option value={{language.id}}>{{language.title}}</option>
          {% endfor %}
        </select> {% endcomment %}
        {{submission_form}}
      {% comment %} </label> {% endcomment %}
      {% comment %} <textarea id='code' name='source_code'></textarea> {% endcomment %}
      <button class='btn btn-success' type='submit'>Отправить</button>
    </form>
    <span class="text-danger">{{error}}</span>

    <a href="{% url 'tasks' %}" class="btn btn-secondary">назад </a><br>
    {% if perms.tasks.update_task%}
      <a href="{% url 'task-update' task.id %}" class="btn btn-primary">Редактировать задачу </a>
    {% endif %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>
  
  <script>
    var myTextarea = document.getElementById('code')
    var editor = CodeMirror.fromTextArea(myTextarea, {
      lineNumbers: true,
      mode: "python",
      theme: "neat",
      indentUnit: 4,
      tabSize: 4
    }
    editor.on('change', function() {
      editor.save();
    })
    )
    editor.setSize("700px", "450px")
  </script>

{% endblock %}



