.navbar {
    background: #3D81F6;
}

h1 {
    font-size: 35px;
}

.content {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

textarea {
    height: 100px;
}

.CodeMirror{
    border: 1px solid #000000;
}

.my-flex-form{
    display:flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    

}


