.navbar {
    background: #3D81F6;
}

h1 {
    font-size: 35px;
}

.content {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

textarea {
    height: 100px;
}


